<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940599329818-a6b99f4ie3t9q39eih7qjefph2ln9894.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940599329818-a6b99f4ie3t9q39eih7qjefph2ln9894</string>
	<key>API_KEY</key>
	<string>AIzaSyA42E663S31KluK7WRUqeJcr2vEaP2FiZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>940599329818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sustainTourMobile</string>
	<key>PROJECT_ID</key>
	<string>sustaintour-208cf</string>
	<key>STORAGE_BUCKET</key>
	<string>sustaintour-208cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940599329818:ios:52eb4cd297bd4e714efda3</string>
</dict>
</plist>